<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @ticket.user.name %></h1>
    <p>
      You have booked your tickets successfully!
    </p>
    Movie Name : <%= @ticket.show.movie.name %></br>
    Start Time : <%= @ticket.show.start_time %></br>
    Theatre Name : <%= @ticket.show.theatre.name %></br>
    Total Cost : <%= @ticket.total_cost %></br>
    Number of seats : <%= @ticket.num_seats_bought %></br>
    </body>
  </body>
</html>