<p>
  <strong>User Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>User Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>
<% if current_user.role == "admin" %>
<%= link_to 'Back', admin_movies_path %>
<%  else %>
<%= link_to 'Back', users_path %>
<% end %>