<%= form_with(model: movie_interest, local: true) do |form| %>

  <div class="form-horizontal">
    <%= error_messages_for(@movie_interest) %>
    <div class="field">
      <%= form.label :user_id, readonly: true %>
      <%= form.number_field :user_id , class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label :movie_id, readonly: true %>
      <%= form.number_field :movie_id , class: 'form-control' %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
<% end %>