  <%= will_paginate @movie_interests %>
  <h1>Movie Interests</h1>
  <% if @movie_interests.any? %>

  <% if current_user.role == "admin" %>
    <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Movie</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @movie_interests.each do |movie_interest| %>
          <tr>
            <td><%= movie_interest.user.name %></td>
            <td><%= movie_interest.movie.name %></td>
            <td><%= link_to 'Show User details', user_path(movie_interest.user_id) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <% else %>
    <table>
    <thead>
      <tr>
        <th>Movie Name</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @movie_interests.each do |movie_interest| %>
        <tr>
          <td><%= movie_interest.movie.name %></td>
          <td><%= link_to 'Show', movie_path(movie_interest.movie_id) %></td>
          <td><%= link_to 'Unsubscribe', movie_interest, method: :delete, data: { confirm: 'Are you sure?' } %></td>

        </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
  <br>
<% else %>
  <p> No subscriptions </p>
<% end %>
  <%= will_paginate @movie_interests %>