<table>
  <thead>
    <tr>
      <th>Movie Name</th>
      <th>Theatre Name</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Booking State</th>
    </tr>
  </thead>
  <tbody>
    <% @admin_shows.each do |admin_show| %>
      <tr>
        <td><%= admin_show['movie_name'] %></td>
        <td><%= admin_show['theatre_name'] %></td>
        <td><%= admin_show['start_time'] %></td>
        <td><%= admin_show['end_time'] %></td>
        <td><%= admin_show['booking_state'] %></td>
        <td><%= link_to 'Show', admin_show_path(admin_show['_id']) %></td>
        <td><%= link_to 'Edit', edit_admin_show_path(admin_show['_id']) %></td>
        <td><%= link_to 'Destroy', admin_show_path(admin_show['_id']), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>