<script src="moment.js"></script>

<script type="text/javascript">
$("#admin_show_start_time").change(function()
{
  m = new moment($("#admin_show_start_time").val(), 'HH:mm:ss');
  m._d;
  m.add(3,'hours');
  m._d;
  $("#admin_show_end_time").val(m);
});
</script>

<h1>New Show</h1>

<%= render 'form', admin_show: @admin_show %>
<%= form_for(:admin_show, :url => {:action => 'create'}) do |f| %>

  <div class="field">
    <%= f.label :movie_id%>
    <% if @m.count == 1 %>
    <%= f.select("movie_id", @m.collect { |m| [m.name, m.id]} ) %>
    <% else %>
    <%= f.select("movie_id", @m.all.collect { |m| [m.name, m.id]}, {prompt: 'Select Movie'}) %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :theatre_id%>
    <%= f.select("theatre_id", @theatre.all.collect { |t| [t.name, t.id]}, {prompt: 'Select Theatre'}) %>
  </div>

  <div class="field">
    <%= f.label :start_time %>
    <%= f.text_field :start_time %>
  </div>

  <div class="field">
    <%= f.label :end_time , readonly: true%>
    <%= f.text_field :end_time %>
  </div>

  <div class="field">
    <%= f.label :total_seats %>
    <%= f.text_field :total_seats %>
  </div>

  <div class="field">
    <%= f.label :num_seats_sold %>
    <%= f.text_field :num_seats_sold %>
  </div>

  <div class="field">
    <%= f.label :cost_per_seat %>
    <%= f.text_field :cost_per_seat %>
  </div>

  <div class="actions">
    <%= f.submit "Create Show"%>
  </div>
<% end %>
<%= link_to 'Back', admin_shows_path %>