<%= will_paginate @admin_movies %>
<h1>Admin Movies</h1>
  <table>
    <thead>
      <tr>
        <th>Movie Name</th>
          <th>Movie Summary</th>
          <th>Movie Status</th>
          <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @admin_movies.each do |admin_movie| %>
        <tr>
          <td><%= admin_movie.name %></td>
          <td><%= admin_movie.summary %></td>
          <td><%= admin_movie.status %></td>
           
          <td><%= link_to 'Show Details', admin_movie_path(admin_movie),{remote: true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'} %></td>
          <div id="modal-window" class="modal fade" role="dialog"></div>
          <td><%= link_to 'Edit Details', edit_admin_movie_path(admin_movie) %></td>
          <td><%= link_to 'Delete',admin_movie_path(admin_movie), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% if admin_movie.status == "Now Showing" %>
            <td><%= link_to 'Add Show', new_admin_show_path(movie: admin_movie.id) %></td>
            <td><%= link_to 'Reviews', reviews_path(:movie => admin_movie.id) %></td>
          <% else %>
            <td><%= link_to 'Change Status', admin_movies_change_status_path(:id => admin_movie.id) %></td>
             <td><%= link_to 'Show Subscriptions', movie_interests_path(:movie_id => admin_movie.id) %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  
</div>
<%= will_paginate @admin_movies %>