<p id="notice"><%= notice %></p>
<p>
  <strong>Movie Name:</strong>
  <%= @admin_movie.name %>
</p>

<p>
  <strong>Movie Summary</strong>
  <%= @admin_movie.summary %>
</p>

<p>
  <strong>Status</strong>
  <%= @admin_movie.status %>
</p>

<%= link_to 'Edit', edit_admin_movie_path(@admin_movie) %> |
<%= link_to 'Back', admin_movies_path %>
