<%= will_paginate @tickets %>
<p id="notice"><%= notice %></p>

<h1>Tickets</h1>

<table>

 <thead>
 <th>Ticket ID</th>
 <th>Movie Name</th>
 <th>Theatre Name</th>
 <th>Show ID</th>
 <th>Start Time</th>
 <th>Total Cost</th>
 <th>Number of Seats</th>
 </thead>
 <tbody>
 <% @tickets.each do |ticket| %>
   <tr>
   <td><%= ticket.id %></td>
   <td><%= ticket.show.movie.name %></td>
   <td><%= ticket.show.theatre.name %></td>
   <td><%= ticket.show.id %></td>
   <td><%= ticket.show.start_time %></td>
   <td><%= ticket.total_cost %></td>
   <td><%= ticket.num_seats_bought %></td>
   </tr>
 </tbody>
 <% end %>
</table>

<br>
<%= will_paginate @tickets %>