<p id="notice"><%= notice %></p>

<p>
  <strong>New:</strong>
  <%= @show.new %>
</p>

<p>
  <strong>Index:</strong>
  <%= @show.index %>
</p>

<p>
  <strong>Show:</strong>
  <%= @show.show %>
</p>

<p>
  <strong>Edit:</strong>
  <%= @show.edit %>
</p>

<%= link_to 'Edit', edit_show_path(@show) %> |
<%= link_to 'Back', shows_path %>
