<%= form_with(model: review, local: true) do |form| %>
  <div class="form-horizontal">
    <%= error_messages_for(@review) %>
    <%= form.hidden_field :movie_id, value: params[:id] %>

    <div class="field">
      <%= form.label :rating %>
      <%= form.text_field :rating , class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label :comment %>
      <%= form.text_field :comment , class: 'form-control' %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
<% end %>