<p id="notice"><%= notice %></p>

<p>
  <strong>New:</strong>
  <%= @review.new %>
</p>

<p>
  <strong>Index:</strong>
  <%= @review.index %>
</p>

<p>
  <strong>Show:</strong>
  <%= @review.show %>
</p>

<p>
  <strong>Edit:</strong>
  <%= @review.edit %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
