<div class="sidenav">

<sidebar class="navbar navbar-fixed-right navbar">
  <div class="container">
  
    <% if user_signed_in? %>
      <div class="heading1">
        <%= current_user.name %>
      </div>
      <div class = "heading2">
        <%= current_user.role %>
      </div>
      </br></br>
      <% if current_user.role == "admin" %>
      
        <%= link_to "Add Movie", new_admin_movie_path %>
       
        <%= link_to "Add Theatre", new_admin_theatre_path %>
        
        <%= link_to "Add Show", new_admin_show_path %>
        
        <%= link_to "Update User Role", users_path %>
       
      <% else %>
      <%= link_to "Movies", movies_path %>
      
      <%= link_to "Show Subscriptions", movie_interests_path(current_user.id) %>
      
      <%= link_to "Show bookings", tickets_path %>
      
      

      <% end %>
    <% end %>
  </div>
</sidebar>
</div>
</div>
