<!DOCTYPE html>
<html>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all','data-turbolinks-track': 'reload' %>
     <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

 <div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>
</div>
<%= render 'layouts/header' %>
<%= render 'layouts/sidebar' %>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>

<%= yield :top_content %> 
<%= render 'layouts/footer' %>
